<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<th:block th:insert="~{fragments/navigation :: head(${user})}"></th:block>
<body class="bg-gray-100">
<!-- Header -->
<th:block th:insert="~{fragments/navigation :: header(${user})}"></th:block>

<th:block th:insert="~{fragments/greeting :: greeting('Your profile information')}"></th:block>
<!-- Transactions Status Section -->
<div class="main-container container margin-25 flex flex-row items-start gap-4">
  <th:block sec:authorize="isAuthenticated()"
            th:insert="~{fragments/side-menu :: side-menu(${user})}">
  </th:block>
  <main class="flex-1 overflow-auto w-4/5 p-4" style="border: 2px solid #4299e1; border-radius: 0.5rem; ">
    <div class="home-section">
      <div class="single-section-box transactions-container">
        <table class="styled-table">
          <!-- Table Header -->
          <thead>
          <tr>
            <th>Id</th>
            <th>Status</th>
            <th>Amount</th>
            <th>Balance</th>
            <th>Note</th>
            <th>Date</th>
          </tr>
          </thead>
          <!-- Table Body -->
          <tbody>
          <tr th:each="transaction : ${transactions}">
            <td data-label="Id" th:text="${transaction.id}"></td>
            <td data-label="Status">
              <p th:if="${transaction.status.name() == 'SUCCEEDED'}" class="status active">SUCCEEDED</p>
              <p th:if="${transaction.status.name() == 'FAILED'}" class="status terminated">FAILED</p>
            </td>
            <td data-label="Amount" th:if="${transaction.status.name() == 'SUCCEEDED'}"
                th:text="${transaction.type.name() == 'DEPOSIT' ? '+' + transaction.amount + ' EUR' : '-' + transaction.amount + ' EUR'}">
            </td>
            <td data-label="Balance" th:if="${transaction.status.name() == 'FAILED'}" class="crosslined"
                th:text="${transaction.type.name() == 'DEPOSIT' ? '+' + transaction.amount + ' EUR' : '-' + transaction.amount + ' EUR'}">
            </td>
            <td data-label="Balance Left" th:text="${transaction.balanceLeft + ' EUR'}"></td>
            <td data-label="Note" style="text-align: left" th:if="${transaction.status.name() == 'SUCCEEDED'}" th:text="${transaction.description}">
            </td>
            <td data-label="Note" style="text-align: left" th:if="${transaction.status.name() == 'FAILED'}" th:text="${transaction.failureReason}">
            </td>
            <td data-label="Date" th:text="${#temporals.format(transaction.createdOn, 'dd MMM YYYY HH:mm')}">
              30 Dec 2024 17:03
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>

<th:block th:insert="~{fragments/footer :: footer}"></th:block>

</body>
</html>