.alert-warning {
    color: red;
    font-size: 13px;
}

.greeting {
    font-size: 20px;
}

.main-container {
    padding: 20px 0 20px 0;
    flex: 1; /* Makes it grow and shrink as needed */
    display: flex; /* If needed for child layout */
    flex-direction: row; /* Ensures child elements are aligned */
}

/* Ensure full height of the page */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.margin-25 {
    margin: 0 25px !important;
}

/* Footer pinned to the bottom */
footer {
    margin-top: auto; /* Pushes the footer to the end of the page or container */
}

nav[aria-label="Page navigation"] {
    margin-bottom: 20px; /* Adjust the value as necessary */
}

.card {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.edit-advert a {
    float: right;
    margin-bottom: 20px;
    margin-top: -115px;
}

.viewed-count {
    margin-bottom: 20px;
}

.max-h-250 {
    max-height: 250px;
}

.bg-indigo-50 {
    background-color: rgba(238, 242, 255, 0.8);
}

.bg-blue-50 {
    background-color: rgba(239, 246, 255, 0.8);
}

.bg-green-50 {
    background-color: rgba(237, 252, 242, 0.8);
}