.alert-warning {
    color: red;
    font-size: 13px;
}

.greeting {
    font-size: 20px;
}

.main-container {
    padding: 20px 0 20px 0;
    flex: 1; /* Makes it grow and shrink as needed */
    display: flex; /* If needed for child layout */
    flex-direction: row; /* Ensures child elements are aligned */
}

/* Ensure full height of the page */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Footer pinned to the bottom */
footer {
    margin-top: auto; /* Pushes the footer to the end of the page or container */
}

nav[aria-label="Page navigation"] {
    margin-bottom: 20px; /* Adjust the value as necessary */
}
