<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<th:block th:insert="~{fragments/navigation :: head(${user})}"></th:block>
<body class="bg-gray-100">
<!-- Header -->
<th:block th:insert="~{fragments/navigation :: header(${user})}"></th:block>

<!-- Main Section -->
<section class="bg-black text-white py-20">
    <div class="container mx-auto text-center">
        <h1 class="text-4xl font-bold mb-4">All Cars Ads</h1>
    </div>
</section>

<div class="main-container container mx-auto flex flex-row items-start gap-4">
    <th:block sec:authorize="isAuthenticated()"
              th:insert="~{fragments/side-menu :: side-menu(${user})}">
    </th:block>
    <!-- Automobile Ads Section -->
    <main class="flex-1 overflow-hidden w-4/5">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <!-- Car 1: BMW M4 -->
            <div class="bg-white shadow-md rounded-lg p-6 text-center transform transition duration-300 hover:scale-105 hover:shadow-2xl"
                 th:each="advert : ${adverts}">
                <h3 class="text-lg font-bold mb-1" th:text="${advert.advertName}"></h3>
                <h3 class="text-gray-700" th:text="${advert.getCarBrand().name() + ' ' + advert.getCarModel()}"></h3>
                <img alt="advert-picture" th:src="${#strings.isEmpty(advert.imageURL)} ?
                    'https://img.freepik.com/free-psd/realistic-car-illustration_23-2151227626.jpg'
                    : ${advert.imageURL}"
                     class="w-full h-[350px] object-cover mb-4 rounded" />
                <h3 class="text-gray-700" th:text="${advert.description}"></h3>
                <p class="text-gray-700" th:if="${advert.buyNowPrice}">Price: $<span th:text="${advert.buyNowPrice}"></span></p>
                <p class="text-gray-700">Manufacture year: <span th:text="${advert.manufactureYear}"></span></p>
                <p class="text-gray-700 mb-4" th:if="${advert.biddingOpen && advert.currentBidPrice > 0}">Current Bid: <span th:text="${advert.currentBidPrice}">$45,000</span></p>
                <br />
                <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    <a th:href="'/ads/' + ${advert.id} + '/info'">More Information</a>
                </button>
            </div>
        </div>

        <div class="mt-8 flex justify-center">
        <nav aria-label="Page navigation">
            <ul class="inline-flex space-x-1" th:if="${totalPages > 1}">
                <!-- Previous Button -->
                <li>
                    <!-- Enabled version -->
                    <a
                            th:if="${currentPage} > 1"
                            th:href="@{'/ads/page/' + ${currentPage - 1}}"
                            class="px-3 py-1 bg-white border border-gray-300 text-gray-600
                     hover:bg-gray-200 rounded-l-md transition-colors duration-300"
                    >
                        Prev
                    </a>
                    <!-- Disabled version -->
                    <span
                            th:if="${currentPage == 1 && totalPages > 1}"
                            class="px-3 py-1 bg-gray-100 border border-gray-300
                     text-gray-400 rounded-l-md cursor-not-allowed"
                    >
                      Prev
                    </span>
                </li>

                <!-- Page Numbers -->
                <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                    <a
                            th:text="${i+1}"
                            th:href="@{'/ads/page/' + ${i + 1}}"
                            th:classappend="${i + 1 == currentPage} ? 'bg-blue-600 text-white' : 'bg-white text-gray-600 hover:bg-gray-200'"
                            class="px-3 py-1 border border-gray-300 transition-colors duration-300"
                    >
                        1
                    </a>
                </li>

                <!-- Next Button -->
                <li>
                    <!-- Enabled version -->
                    <a
                            th:if="${currentPage} < ${totalPages}"
                            th:href="@{'/ads/page/' + ${currentPage + 1}}"
                            class="px-3 py-1 bg-white border border-gray-300
                     text-gray-600 hover:bg-gray-200 rounded-r-md
                     transition-colors duration-300"
                    >
                        Next
                    </a>
                    <!-- Disabled version -->
                    <span
                            th:if="${currentPage} == ${totalPages}"
                            class="px-3 py-1 bg-gray-100 border border-gray-300
                     text-gray-400 rounded-r-md cursor-not-allowed"
                    >
                  Next
                </span>
                </li>
            </ul>
        </nav>
    </div>
    </main>
</div>

<th:block th:insert="~{fragments/footer :: footer}"></th:block>
</body>
</html>