<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<th:block th:insert="~{fragments/navigation :: head(${user})}"></th:block>
<body class="bg-gray-100">
<!-- Header -->
<th:block th:insert="~{fragments/navigation :: header(${user})}"></th:block>

<th:block th:insert="~{fragments/greeting :: greeting('You Bid Information')}"></th:block>
<!-- Bid Status Section -->
<div class="main-container container mx-auto flex flex-row items-start gap-4">
  <th:block sec:authorize="isAuthenticated()"
            th:insert="~{fragments/side-menu :: side-menu(${user})}">
  </th:block>
    <main class="flex-1 overflow-hidden w-4/5">
      <div class="transaction-container">
        <!-- Bid ID -->
        <div class="transaction-id mb-4">
          <strong>Bid ID:</strong>
          <p th:text="${bid.id}" class="text-gray-900 font-medium"></p>
        </div>

        <!-- Transaction Status (Success/Failure) -->
        <div th:if="${bid.bidPrice}" class="payment-box success">
          <div class="payment-header">
            <div class="icon">
              <svg width="48" height="48" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20 6L9 17L4 12" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </div>
            <h2>Your bid was successfully processed</h2>
            <p>The car advert current bid is updated.</p>
          </div>
          <div class="payment-details">
            <div class="details">
              <div class="details">
                <span class="item">Current Bid:</span>
                <span class="value" th:text="${bid.bidPrice + ' EUR '}"></span>
              </div>
              <span class="item">Maximum Bid Allowed:</span>
              <span class="value" th:text="${bid.maxBidPrice + ' EUR'}"></span>
            </div>
            <div class="details">
              <span class="item">Advert:</span>
              <span class="value" th:text="${bid.advert.advertName}"></span>
            </div>
          </div>
        </div>
        <!-- Smaller Go Back Button -->
        <a th:href="@{/}" class="go-back-button">
          <p>Go back</p>
          <svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 7H14C17.3137 7 20 9.68629 20 13C20 16.3137 17.3137 19 14 19H4M4 7L8 3M4 7L8 11"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </a>
      </div>
  </main>
</div>

<th:block th:insert="~{fragments/footer :: footer}"></th:block>

</body></html>