<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
  <section th:fragment="error(text)">
    <div class="container margin-25 text-center py-4 mb-4">
      <h3 class="text-4xl font-bold text-blue-700 bg-gradient-to-r from-gray-100
       to-gray-200 py-4 px-6 rounded-lg shadow-md error" style="border: 2px solid #4299e1;"
          >
        <span th:if="${text}">
            Error: <span th:text="${text}">Error</span>
        </span>
      </h3>
    </div>
  </section>
</body>
</html>