<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="head(user)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cars Bidding Company</title>
    <link rel="stylesheet" type="text/css" href="/css/tailwind.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
     <div class="top-nav" th:fragment="header(user)">
         <div class="container margin-25">
             <header class="bg-blue-600 shadow-lg rounded-lg p-4 mb-4" style="border: 2px solid #4299e1;">
                 <div class="flex flex-col items-center">
                     <div class="text-xl font-bold mb-4 tracking-wide text-white">Cars Bidding Company</div>
                     <!-- Navigation Menu -->
                     <nav>
                         <ul class="flex flex-wrap justify-center space-x-3">
                             <li><a th:href="@{/}" class="py-2 px-4 rounded-lg bg-blue-700 hover:bg-blue-800 text-white shadow-md transition-colors" th:classappend="${#strings.equals(#vars.currentUri ?: '', '/') ? 'active-menu-item' : ''}">Home</a></li>
                             <li sec:authorize="isAuthenticated()"><a th:href="@{/users/my-profile}" class="py-2 px-4 rounded-lg bg-blue-700 hover:bg-blue-800 text-white shadow-md transition-colors" th:classappend="${#strings.equals(#vars.currentUri ?: '', '/users/my-profile') ? 'active-menu-item' : ''}">My Profile</a></li>
                             <li><a th:href="@{/about-us}" class="py-2 px-4 rounded-lg bg-blue-700 hover:bg-blue-800 text-white shadow-md transition-colors" th:classappend="${#strings.equals(#vars.currentUri ?: '', '/about-us') ? 'active-menu-item' : ''}">About us</a></li>
                             <li><a th:href="@{/contact}" class="py-2 px-4 rounded-lg bg-blue-700 hover:bg-blue-800 text-white shadow-md transition-colors" th:classappend="${#strings.equals(#vars.currentUri ?: '', '/contact') ? 'active-menu-item' : ''}">Contact</a></li>
                             <li sec:authorize="isAnonymous()"><a th:href="@{/login}" class="py-2 px-4 rounded-lg bg-blue-700 hover:bg-blue-800 text-white shadow-md transition-colors" th:classappend="${#strings.equals(#vars.currentUri ?: '', '/login') ? 'active-menu-item' : ''}">Login</a></li>
                             <li sec:authorize="isAnonymous()"><a th:href="@{/register}" class="py-2 px-4 rounded-lg bg-blue-700 hover:bg-blue-800 text-white shadow-md transition-colors" th:classappend="${#strings.equals(#vars.currentUri ?: '', '/register') ? 'active-menu-item' : ''}">Register</a></li>
                             <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}" class="py-2 px-4 rounded-lg bg-blue-700 hover:bg-blue-800 text-white shadow-md transition-colors">Logout</a></li>
                         </ul>
                     </nav>
                     <!-- Navigation Menu -->
                 </div>
             </header>
         </div>
     </div>
</body>
</html>
